
body {
  font-family: Arial, sans-serif;


  margin: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.heading h1{
    font-size: 22px;
    font-weight: 200;
}
.pricing-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  align-items: center;
}
.image-card{
  width: 250px;
  height: 100%;
}
.image-card img{
  width: 100%;
}

.pricing-card {
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  /* padding: 20px; */
  padding: 10px;
  margin: 0; /* Remove the gap between cards */
  width:250px;
  text-align: left;
  background-color: #fff;
  transition: box-shadow 0.7s ease;
  cursor: pointer;
  /* display: flex;
  gap: 2px; */
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pricing-card h3 {
  margin-bottom: 10px;
  color: #42a5f5;
}
.pricing-card p{
  font-size: 12px;
}
.pricing-card .price-label {
  font-weight: bold;
}

.pricing-card .tick-mark {
  color: #42a5f5;
  font-size: 16px;
  margin-right: 5px;
  display: inline-block;
}

.pricing-card .original-price {
  text-decoration: line-through;
  color: #888;
  margin-top: 5px;
}

.pricing-card .discounted-price {
  color: #42b72a;
  font-size: 20px;
  margin-top: 5px;
}
.pricing-card img{
  width: 100%;
  height: 260px;
}
.pricing-card:last-child {
  border: 3px solid #42b72a; /* Green border for the last card */
  position: relative; /* Add relative positioning for the last card */
}

.pricing-card:last-child h3::after {
  content: "Limited Offer";
  position: absolute; /* Add absolute positioning for the heading */
  top: -30px; /* Adjust top position as needed */
  left: 50%; /* Move the heading to the center horizontally */
  transform: translateX(-50%); /* Center the heading */
  background-color: #42b72a; /* Green background color for the heading */
  color: #fff; /* Text color for the heading */
  padding: 5px 10px;
  width: 95%;
  font-size: 14px;
  z-index: 1; /* Ensure the heading appears on top */
}
.pricing-card:not(:first-child):hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.add-job-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 16px;
    width: 60%; /* Set the button width to 60% */
    border: none;
    border-radius: 4px;
    background-color: #42a5f5;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

/* Additional styles for the "Why Should You Pay for Us?" section */
.why-pay-section {
    width: 100%;
    /* max-width: 800px; */
    padding: 20px 20px; /* Reduced padding here */
    text-align: center;
    margin-top: 30px;
    background-color: #4c5686;
}

.why-pay-section h2 {
    font-size: 24px;
    align-items: left;
    margin-bottom: 10px;
    color: #fff;
}

.why-pay-section p {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
}

.feature-icons {
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.feature {
    margin: 20px;
}

/* Icon styles */
.feature i {
    font-size: 48px; /* Adjust the icon size as needed */
    color: #fff; /* Icon color */
    margin-bottom: 10px;
}

.feature p {
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}
.our-customers-section {
    width: 100%;
    padding: 10px 90px;
    display: flex;
    text-align: center;
    margin: 15px 0px;
    background-color: #f7f7f7; /* Background color for the section */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.our-customers-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    width: 170px;
}

.customer-logos {
    width: 100%;
    display: flex;
    gap: 70px;
    align-items: center;
    padding-left: 50px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.customer-logo {
    max-width: 50px; /* Adjust the maximum width of the logos */
    /* margin: 0 10px; /* Adjust the spacing between logos as needed */
}
.wrapper {
    width: 95%;
    /* margin-left: 40px; */
    margin: 60px 20px;
    position: relative;
  }
  
  .wrapper .arrow {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  
  .wrapper .arrow:active {
    transform: translateY(-50%) scale(0.85);
  }
  
  .wrapper .arrow:first-child {
    left: -22px;
  }
  
  .wrapper .arrow:last-child {
    right: -22px;
  }
  
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .card{
    display: flex;
    flex-direction: column;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel .card {
    scroll-snap-align: center;
    /* height: 280px; */
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    display: flex;
  }
  
  .carousel .card .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-content h2 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 5px 0;
  }
  
  .card-content span {
    color: #6A6D78;
    font-size: 1rem;
  }
  
  .rating {
    margin-top: 10px;
  }
  
  .rating i {
    color: #FFC107; /* Yellow color for the stars */
  }
  
  .wrapper p{
    margin-top: 15px;
    color: #333;
   padding: 20px 10px;
  }
  .contact-section {
    /* max-width: 600px; */
    background-color: white;
    width: 77%;
    margin: 0 auto;
    padding: 20px 100px;
    /* display: flex; */
    flex-wrap: wrap;
  }
  
  .contact-section h2 {
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  .inputs{
    display: flex;
    gap: 40px;
    width: 100%;
  }
  
  
  .input-group {
    width: 30%;
    /* flex-basis: 50%; */
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid purple;
    
    border-radius: 4px;
  }
  
  .increment-decrement {
    display: flex;
    align-items: center;
  }
  
  .increment-decrement button {
    padding: 6px 10px;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .increment-decrement input {
    width: 50px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(76, 86, 134);
    border-radius: 4px;
  }
  
  .request-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 100;
    align-items: center;
    color: #fff;
    background-color: rgb(76, 86, 134);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .request-btn:hover {
    background-color: #2187e7;
  }
  
  .request-btn:focus {
    outline: none;
  }
  @media (max-width: 1024px), (max-height: 800px) {
    /* Hide the whole section for screen sizes 1024x800 and below */
    .our-customers-section {
      display: none;
    }
    p {
      font-size: 14px; /* Increase the font size for the paragraph */
      padding: 14px 0; /* Add some padding at the top and bottom of the paragraph */
    }
  }
  @media screen and (max-width: 768px) {
    .pricing-container {
      flex-wrap: wrap;
    }
  
    .pricing-card {
      width: 98%;
    }
    
  .pricing-card:last-child {
    margin-top: 30px; /* Add margin to the last card */
  }
  .why-pay-section{
    padding: 0px;
    padding-top: 20px;
  }
  .feature-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 100%;
    margin: 10px 0;
  }

  .feature i {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .feature p {
    font-size: 16px;
    text-align: center;
  }
  .our-customers-section{
    display: none;
  }
  

    .wrapper {
      width: 100%;
      /* margin: 20px auto; */
      margin: 0px;
      padding: 0px;
      position: relative;
      padding: 0; /* Remove padding */
    }
    .wrapper .carousel {
        grid-auto-columns: 100%;
      }
    
  

    p {
      font-size: 14px; /* Increase the font size for the paragraph */
      padding: 10px 0; /* Add some padding at the top and bottom of the paragraph */
    }

    
  .contact-section {
 padding: 0px;
 padding-bottom: 40px;
  }
  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .contact-section h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .inputs {
      display: flex;
      flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 20px;
    }
  
    .input-group {
      width: 60%; /* Make each field take full width */
      margin-bottom: 15px;
    }
  
    .input-group label {
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 5px;
    }
  
    .input-group input[type="text"],
    .input-group input[type="number"] {
      width: 100%; /* Make the input fields take full width */
      padding: 8px;
      font-size: 16px;
      border: 1px solid purple;
      border-radius: 4px;
    }
  
    .increment-decrement {
      display: flex;
      align-items: center;
    }
  
    .increment-decrement button {
      padding: 6px 10px;
      font-size: 16px;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .increment-decrement input {
      width: 50px;
      padding: 8px;
      text-align: center;
      font-size: 16px;
      border: 1px solid rgb(76, 86, 134);
      border-radius: 4px;
    }
    
    .request-btn {
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 100;
      align-items: center;
      color: #fff;
      background-color: rgb(76, 86, 134);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      /* margin-left: 60px */
    }
    
    .request-btn:hover {
      background-color: #2187e7;
    }
    
    .request-btn:focus {
      outline: none;
    }
    .header {
        display: flex;
        flex-direction: column; /* Stack content in a column */
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        
      }
    
      .heading h1 {
        font-size: 24px; /* Increase the font size for the heading */
      }
    
      .heading p {
        font-size: 14px;
        display: none; /* Increase the font size for the description */
      }
    
      .contact {
        text-align: center; /* Center the contact information */
        margin-top: 10px; /* Add some margin to separate from the heading */
      }
    
      .contact p {
        font-size: 14px; /* Increase the font size for the contact information */
        margin: 5px 0; /* Add some margin for spacing */
      }
}
